body {
    background: #E5E5E5;
    margin: 0;
    font-family: inter, sans-serif;
    font-style: normal;
}

.container {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border: #E5E5E5;

}
#side-bar {
    flex: 1 0 20%;
    background-color: #EAEAEA;
    padding-left: 10px;

}

#main-bar {
    flex: 1 0 80%;
    background: #ffffff;
}

.dashboard {
    background: #ffffff;
    padding: 8px;
    margin: 5px 0;
    font-size: 10px;
    color: #D8DADD;
    padding-left:0;
}

h1 {
    background: #EAEAEA;
    color: #2C665D;
}

h2,
h3,
h4 {
    font-size: 10px;
    color: #000;
}

h3 {
    background-color: #f5f5f5;
    padding: 8px 0;
    margin-top: 0;
    padding-left: 0px;
}

#side-bar p {
    color: #D9DBDC;
    font-size: 10px;
    padding: 8px 0;

}

img {
    width: 10px;
    height: 10px;
    border: 1px solid #FFF3F1;
    border-radius: 4px;
}
#side-bar .dashboard img{
    width:10px;
    height: 8px;
}
.i {
    color: #D4D6D8;
}

.snap {
    padding: 0px;
    border: 1px solid #BFC2C7;
    border-radius: 160px;
    background: #f5f5f5;

}

.first {
    display: flex;
    background: #ffffff;
    width: 97%;
    margin: 5px;
    justify-content: space-between;
    
}

li {
    list-style: none;
}

.balance {
    flex: 1 0 1;
    justify-content: flex-start;
}

.date {
    color: #D7DADD;
    font-size: 8px;
}

.balances {
    font-size: 10px;
    font-weight: bold;
}

.nav-icon {
    flex: 1 0 1;
    justify-content: flex-end;
    margin-left: 5px;


}

.nav-icon img {
    border: 1px solid #FFD0CC;
    border-radius: 50px;
    background: #FFF3F1;
}

#box {
    display: flex;
    width: 50%;
    margin-top: 20px;
}

#section {
    flex: 1 0 25%;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    padding: 0;
    margin-left: 20px;
}

#next-section {
    flex: 1 0 25%;
    background: #E5E5E5;
    margin: 5px;
    margin-top: 0px;
    border: 1px solid #D4D6D8;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    width: 150px;
    border: 1px solid #D4D6D8;
    margin: 0;

}

main p {
    flex: 1 0 150px;
    font-size: 10px;
    color: #2C665D;
}

main button {
    flex: 1 1 150px;
    font-size: 12px;
    margin: 0;

}

.sub-main {
    display: flex;
    width: 150px;
}

.sub-main article {
    flex: 1 0 150px;
    padding-bottom: 0;
    margin-top: 0;
}

.sub-main section {
    flex: 1 0 150px;
}

.sub-main article p {
    font-size: 12px;
    font-style: bold;
    padding: 5px;
    border: 1px solid #D4D6D8;
    box-sizing: border-box;
    width: 30%;
}

.sub-main article p:nth-child(2) {
    margin-bottom: 0;
}

.second {
    display: flex;
    background: #ffffff;
    margin-left: 0;
    width: 97%;
    justify-content: space-between;
    margin-top: 5px;
}

#form {
    border: 1px border #DEDFE2 !important;
}

.Payout {
    flex: 1 0 1;
    justify-content: flex-start;
    margin-left: 0;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 0;
}

.pay-now {
    flex: 1 0 1;
    justify-content: flex-end;
    margin-right: 5px;

}

.Green {
    background-color: #2C665D;
    border: 1px solid #2C665D;
}

table {
    width: 760px;
    margin-top: 0;
    margin: 0 10px;
    padding: 10px;
}

th {
    text-align: start;
    margin: 0;
    font-size: 10px;
    background-color: #f5f5f5;
    padding: 10px 0;
}

td {
    font-size: 12px;
    padding: 10px 0;
}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 10px;
    color: #2C665D;
    background-color: #ffffff;
    width: 90%;
    border: 1px solid #f5f5f5;
    margin: 0 5%;
    padding: 15px 0;
@media screen and (max-width:400px){
    .container{
        display: flex;
        width: 100%;
        height: 100vh;
        overflow: scroll;

    }
    #side-bar{
        display: none;
    }
    #main-bar{
        display: flex
        width: 100%;
    }
    .first {
        display: block;
        
    }
    .balance{
        justify-self: flex-start;
    }
    .data{
        justify-self: flex-start;
    }
    #box{
        width: 100%;
        flex-wrap: wrap;

    }
    #section{
        flex: 1 1 100%;

    }
    #next-section {
        flex: 1 1 100%;
        margin:0;
    }
    .second {
        display: block;
        width: 50%;
    
    } 
    
    table {
        width: 50%;
    }
    
    .Payout {
        display: block;
        text-align: center;
    }
    
    .pay-now {
        display: block;
       text-align: center;
    }

    #form .search {
        margin: 20px;
    }
    
    #form.date-form {
        margin: 20px;
    }
    
    #form.Green {
        margin: 20px;
    
    }

}